/*!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.4.2-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: xyk2026
-- ------------------------------------------------------
-- Server version	11.4.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `baseline_rule`
--

DROP TABLE IF EXISTS `baseline_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baseline_rule` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `rule_code` varchar(50) NOT NULL COMMENT '规则编码，例如 WIN-001',
  `rule_name` varchar(255) NOT NULL COMMENT '规则名称',
  `category` varchar(100) DEFAULT NULL COMMENT '分类：账户策略、日志审计、服务安全等',
  `description` text DEFAULT NULL COMMENT '规则说明',
  `severity` varchar(20) DEFAULT NULL COMMENT '风险等级：critical/high/medium/low',
  `score` int(11) DEFAULT 1 COMMENT '评分',
  `os_type` varchar(50) DEFAULT 'Windows' COMMENT '适用系统',
  `check_method` varchar(30) NOT NULL DEFAULT 'REGISTRY' COMMENT '检测方式：REGISTRY/SERVICE/COMMAND/WMI/SCRIPT',
  `check_script` text DEFAULT NULL COMMENT '检测脚本或命令',
  `remediation_type` varchar(20) DEFAULT 'MANUAL' COMMENT '修复方式：AUTO/MANUAL/SEMI',
  `remediation_script` text DEFAULT NULL COMMENT '自动修复脚本',
  `version` int(11) DEFAULT 1 COMMENT '规则版本',
  `is_mandatory` tinyint(4) DEFAULT 1 COMMENT '是否强制要求',
  `enabled` tinyint(4) DEFAULT 1 COMMENT '是否启用',
  `status` varchar(20) DEFAULT 'PUBLISHED' COMMENT '规则状态：DRAFT/PUBLISHED/ARCHIVED',
  `create_time` datetime DEFAULT current_timestamp() COMMENT '创建时间',
  `update_time` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `rule_code` (`rule_code`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='基线规则主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baseline_rule`
--

LOCK TABLES `baseline_rule` WRITE;
/*!40000 ALTER TABLE `baseline_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `baseline_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `baseline_rule_item`
--

DROP TABLE IF EXISTS `baseline_rule_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baseline_rule_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `rule_id` bigint(20) NOT NULL COMMENT '规则ID',
  `item_order` int(11) DEFAULT 1 COMMENT '检查顺序',
  `check_key` varchar(255) NOT NULL COMMENT '检测键',
  `operator` varchar(20) NOT NULL COMMENT '=、!=、>、>=、<、<=',
  `expected_value` text DEFAULT NULL COMMENT '期望值',
  `match_type` varchar(20) DEFAULT 'EXACT' COMMENT '匹配方式：EXACT/CONTAINS/REGEX',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_baseline_rule_item_rule` (`rule_id`),
  CONSTRAINT `fk_baseline_rule_item_rule` FOREIGN KEY (`rule_id`) REFERENCES `baseline_rule` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=357 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='基线规则参数表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baseline_rule_item`
--

LOCK TABLES `baseline_rule_item` WRITE;
/*!40000 ALTER TABLE `baseline_rule_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `baseline_rule_item` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-06-12 20:55:28
